@{
    ViewBag.Title = "Aboutus";
}

@{
    //string[]tbl = {"Hyderabad","Mumbai","Chennai"};
    // using dictionary we can give key value, key as Name and phone no as a value
    Dictionary<string, long> dic = new Dictionary<string,long>();
    dic.Add("hyderabad",9966078545);
    dic.Add("mumbai",9966078546);
    dic.Add("Chennia",9966078547);
}

<h2>Aboutus</h2>
<table border="1">
    <tr>
        <th>
            S.no
        </th>
        <th>
            Name
        </th>
        <th>PhoneNumber</th>
    </tr>

    @{
        int Sno=0;
        foreach(var item in dic)      
        {
            <tr>
                <td>
                    @(Sno=Sno+1)
                </td>
                <td> @item.Key</td><td>@item.Value</td>
            </tr>
        }  
    }
</table>